*.iml
.gradle
/.idea/workspace.xml
/.idea/libraries
/.idea/.name
/.idea/encodings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/libraries
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/qaplug_profiles.xml
/.idea/runConfigurations.xml
.DS_Store
/build
/captures